/*all*/
html {
    font-family: "Helvetica", sans-serif;
}

img {
    height: auto;
    max-width: 100%;
}

li {
    display: inline-flex;
}
/*nav section*/

ul {
    list-style-type: none;
}

.navbar {
    background-color: #FFFAFA;
    z-index: 100;
}

.desktop.navbar {
    position: fixed;
    top: 0;
    height: 64px;
    min-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

.desktop.navlogo {
    display: flex;
    flex-flow: row wrap;
    margin-left: 24px;
    max-height: 32px;
}

.desktop.navlogo p {
    opacity: 0.75;
}

.desktop.navbuttons {
    display: flex;
    flex-flow: row wrap;  
    margin-right: 24px;
}

.desktop.navbuttons li {
    margin: 0 8px;
}

.mobile.navbar {
    display: none;
    height: 64px;
}

@media only screen and (max-width: 480px) {
    .desktop.navbar {
        display: none;
        
    }
    .mobile.navbar {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: space-around;
    }
}

/*banner section*/
header {
    position: relative;
    top: 64px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow: hidden;
    background-color: #C9C9C9;
}

header .imgbox {
    margin: 32px 24px;
    height: auto;
    width: 60%;
}

header .textbox {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: 24px;
}

#startbtn {
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFAFA;
    background-color: #4B4B4B;
}

@media only screen and (max-width: 480px) {
    header {
        top: 0;
        flex-flow: column nowrap;    
}
    .textbox h1 {
        margin: 32px 16px;
    }
    
    .textbox h3 {
        margin: 0 16px;
    }

    header .imgbox {
        margin: 0;
        width: 100%;
}
    header .textbox {
        width: 100%;
        margin: 0;
}
    #startbtn {
        width: 90%;
        height: 64px;
        margin: 24px 16px 32px 16px;
        align-content: center;
    }

}

/*main section*/

main {
    position: relative;
    top: 64px;
    margin: 32px 24px;
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
}

main.mobile {
    display: none;
}

main .imgbox {
    height: auto;
    width: 100%;
}

main .leftcont {
    width: 60%;
    margin-right: 24px; 
}

main .rightcont {
    height: auto;
    width: 40%;
    display: flex;
    flex-flow: column wrap;
}

main h1 {
    border-top: 32px;
    border-bottom: 24px;
}

main p {
    margin: 32px 0;
}

.maincnt {
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    border: #C9C9C9 solid 1px;
    border-top: none;
}

.maincnt img {
    height: auto;
    max-width: 35%;
    margin: 16px;
}

#hlight1 img {
    margin-top: 0; 
}

#hlight2 {
    background-color: #C9C9C9;
}

@media only screen and (max-width: 480px) {
    main.desktop {
        display: none;
    }

    main.mobile {
        display: flex;
        flex-flow: column;
        top: 0;
        margin: 16px 0;
    }

    .maincnt {
        display: flex;
        flex-flow: column nowrap;
        border: none;
    }

    .maincnt img {
        max-width: 100%;
    }

   main p, main h3, main a {
        margin: 0 16px;
   }
}

/*start learning section*/

.desktop.learn {
    position: relative;
    top: 64px;
    text-align: center;
    width: 100%;
    background-color: #C9C9C9;
}

.title {
    display: flex;
}

.title h1 {
    margin: 32px auto;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.crsbox {
    background-color: #FFFAFA;
    margin: 16px;
    width: 25%;
    text-align: left;
}

.crsbox img {
    height: auto;
    max-width: 100%;
}

.crsbox h3, .crsbox p {
    margin-left: 16px;
}

.crsbox h6 {
    margin: 8px 16px;
}